@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@media (max-width: 1024px) and (min-width: 897px) {
    * {
        font-size: 12.8px !important;
    }
}

@media (max-width: 896px) and (min-width: 769px) {
    * {
        font-size: 10px !important;
    }
}


@media (max-width: 768px) {
    * {
        font-size: 9px !important;
    }
}

body{
    background-image:url("image/back.png");
    background-size: 45%;
    background-repeat: no-repeat;
}
/* width */
::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

img{
    pointer-events: none;
}